.footer_employee_title{
	height: 100px;
	width: 100%;
	line-height: 100px;
	font-size: 30px;
	text-align: center;
}
.footer_employee_title p {
	font-weight: 700;
}
.footer_employee_title p:first-letter{ 
	font-size:200%;
	color:#d8942a;
}
/* 照片墙样式 */
.photo_wall {
	width: 75%;
	height: auto;
	margin: 0 auto;
	background-color: #eee;
}
.photo_wall .photo_wall_content{
	width: 100%;
	height: auto;
}
.photo_wall .photo_wall_content ul {
	width: 50%;
	float: left;
}
.photo_wall .photo_wall_content ul li{
	list-style: none;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
	height: 240px;
}
.photo_wall_cell{
	margin-left: 15px;
	width: auto;
	height: 240px;
}
.photo_wall_cell .photo_wall_avater {
	float: left;
	width: 240px;
	height: 240px;
}
.photo_wall_cell .photo_wall_intro {
	padding: 20px 0px 20px 20px;
	height: 240px;
	float: left;
	width: auto;
}
.photo_wall_cell .photo_wall_intro td {
	min-width:80px;
	font-family:"Microsoft YaHei";
}