*{
	margin: 0;
	padding: 0;
}
.container{
	min-width: 1280px;
}
.header{
	height: 55px;
	background-color: #ffffff;
}
.logo{
	float: left;
	margin-left: 64px;
	font-size: 21px;
	color: #393a3a;
}
.logo img{
	height: 55px;
	vertical-align: middle;
	margin-right: 13px;
}

.nav{
	float: right;
	margin-right: 14px
}
.nav li{
	float: left;
	list-style: none;
	text-align: center;
	height: 52px;
	width: 100px;
	line-height: 52px;
	border-bottom: 3px solid #fff;

}
.nav a{
	text-decoration: none;
	display: block;
	font-family: "Microsoft YaHei"; 
	font-size: 14px;
}
.nav a:link,.nav a:visited{
	color: #787b83;
}
.nav a:hover,.nav a:active{
	color: #ea6b60;
	border-bottom: 3px solid #ea6b60;
}

.feature-wrap{
	height: 690px;
	background-image: url("../images/section_2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.feature-wrap-in{
	background-color: rgba(0,0,0,0.2);
	height: 457px;
	padding-top: 233px;

}
.feature-wrap-in h1{
	font-size: 60px;
	font-family: "Microsoft YaHei"; 
	color: #ffffff;
	margin-left: 115px;

}
.feature-wrap-in p{
	font-size: 21px;
	font-family: "Microsoft YaHei"; 
	color: #ffffff;
	margin-left:123px;
	margin-top: 20px;
}
.feature-wrap-in input{
	background-color: #e74f4d;
	font-size: 30px;
	font-family: "Microsoft YaHei"; 
	color: #ffffff;
	border: none;
	width: 320px;
	height: 70px;
	margin-left: 125px;
	margin-top: 75px;
}
.footer_employee_title{
	height: 100px;
	width: 100%;
	background:#afabab;
	line-height: 100px;
	font-size: 30px;
	text-align: center;
}
.footer_employee_title label {
	font-weight: 700;
}
/* 照片墙样式 */
.photo_wall {
	width: 75%;
	height: auto;
	margin: 0 auto;
	background-color: #eee;
}
.photo_wall .photo_wall_content{
	width: 100%;
	height: auto;
}
.photo_wall .photo_wall_content ul {
	width: 50%;
	float: left;
}
.photo_wall .photo_wall_content ul li{
	list-style: none;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 100%;
	height: 240px;
}
.photo_wall_cell{
	margin-left: 15px;
	width: auto;
	height: 240px;
}
.photo_wall_cell .photo_wall_avater {
	float: left;
	width: 240px;
	height: 240px;
}
.photo_wall_cell .photo_wall_intro {
	padding: 20px 0px 20px 20px;
	height: 240px;
	float: left;
	width: auto;
}
.photo_wall_cell .photo_wall_intro td {
	min-width:80px;
	font-family:"Microsoft YaHei";
}
